*.pth filter=lfs diff=lfs merge=lfs -text
local_model/NeuroSync/NeuroSync_Local_API/utils/model/model.pth filter=lfs diff=lfs merge=lfs -text
Windows.zip filter=lfs diff=lfs merge=lfs -text
Linux.zip filter=lfs diff=lfs merge=lfs -text
