*.pth filter=lfs diff=lfs merge=lfs -text
Windows/AI_Professor/Samples/PixelStreaming2/WebServers/SignallingWebServer/platform_scripts/cmd/node/node.exe filter=lfs diff=lfs merge=lfs -text
Windows/AI_Professor/Binaries/Win64/AI_Professor-Win64-Shipping.exe filter=lfs diff=lfs merge=lfs -text
Windows/AI_Professor/Content/Paks/AI_Professor-Windows.ucas filter=lfs diff=lfs merge=lfs -text
local_model/NeuroSync/NeuroSync_Local_API/utils/model/model.pth filter=lfs diff=lfs merge=lfs -text
Linux/AI_Professor/Samples/PixelStreaming2/WebServers/SignallingWebServer/platform_scripts/bash/node/bin/node filter=lfs diff=lfs merge=lfs -text
Linux/AI_Professor/Binaries/Linux/AI_Professor-Linux-Shipping filter=lfs diff=lfs merge=lfs -text
Linux/AI_Professor/Content/Paks/AI_Professor-Linux.ucas filter=lfs diff=lfs merge=lfs -text
linux.zip filter=lfs diff=lfs merge=lfs -text
Linux.zip filter=lfs diff=lfs merge=lfs -text
